<h1>Edit Person</h1>
<div class="row" *ngIf="person">
    <form class="col s12" (ngSubmit)="onSubmit()">
        <div class="input-field">
            <i class="material-icons prefix">account_circle</i>
            <input id="name" type="text" [(ngModel)]="person.name" class="validate">
            <label class="active" for="Name">Name</label>
        </div>
        <div class="input-field">
            <i class="material-icons prefix">email_circle</i>
            <input id="email" type="text" [(ngModel)]="person.email" class="validate">
            <label class="active" for="Email">e-mail</label>
        </div>
        <a [routerLink]="['ListPersonCenter']" class="btn-floating btn-large waves-effect waves-light btn red darken-3">
            <i class="material-icons left">undo</i>
        </a>
        <button type="submit" class="btn-floating btn-large waves-effect waves-light btn">
            <i class="material-icons left">save</i>
        </button>
    </form>
</div>
