<h1>List Person</h1>
<table class="striped">
    <thead>
        <tr>
            <th>
                <a (click)="add()" class="btn-floating btn-large waves-effect waves-light indigo darken-4">
                    <i class="material-icons left">add</i>
                </a>
            </th>
            <th>Name</th>
            <th>e-mail</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="#person of persons">
            <td>
                <a (click)="edit(person)" class="btn-floating btn-large waves-effect waves-light btn">
                    <i class="material-icons left">edit</i>
                </a>
                <a (click)="delete(person)" class="btn-floating btn-large waves-effect waves-light btn red darken-3">
                    <i class="material-icons left">delete</i>
                </a>
            </td>

            <td>{{person.name}}</td>
            <td>{{person.email}}</td>
        </tr>
    </tbody>
</table>

